# app
streamlit

# utilities
numpy
pandas

# face recognition
scikit-learn
dlib
face-recognition-models
setuptools<70.0.0

# auth & database
supabase==2.10.0
bcrypt

# QR & image
segno
pillow

# app
streamlit
